<form action="/cats/<%= @cat.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <input type="text" name="cat[owner_id]" value="<%= @cat.owner_id %>">
  </label>

  <input type="submit">
</form>
