<h1><%= @cat.name %></h1>
<h1><%= @cat.owner.fname %></h1>
<h1><%= @cat.house.cats %></h1>
<a href="/cats">All the cats</a>
<form action="">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
